@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@300;400;500;600&family=Outfit:wght@300;400;600&family=Poppins:wght@100;200;300;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style-type: none;
}
:root {
  --nav-background: rgb(14, 49, 61);
  --body-background: #164e63;
  --background-color2: #fff;

  --color-nav: white;

  --font-color: white;
  --font-color-light: rgb(192, 192, 196);
  --card-border-radius: 2rem;
  --card-border-radius-1: 1.1rem;
  --card-border-radius-2: 0.8rem;
  --card-border-radius-3: 0.4rem;
  --color-orange: rgb(249 115 22);
  --warning-color: rgb(166, 152, 243);
  --sucess-color: rgb(52 211 153);
  --danger-color: rgb(244 63 94);
  --container-width-lg: 95%;
  --background-color-theme: #164e63;

  --card-padding: 1.6rem;
  --padding: 1.1rem;

  --box-shadow: 0 0.1rem 0.2rem var(--font-color-light);
}

/*DARK THEME VARIABLES*/
.dark-theme {
  --nav-background: rgb(2, 8, 10);
  --body-background: rgb(3, 16, 20);
  --color-orange: rgb(37 99 235);
  --background-color-theme: #606161;

  --font-color: rgb(192, 189, 189);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
h1 {
  font-weight: 600;
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h5 {
  font-size: 0.8rem;
}
h4 {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--font-color);
}

body {
  background-color: var(--body-background);
  font-family: "Outfit", sans-serif;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  font-size: 0.8rem;
  user-select: none;
  overflow-x: hidden;
}
a {
  color: var(--font-color-light);
}
.profile {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid var(--color-nav);
  overflow: hidden;
}
.profile img {
  width: 100%;
  border-radius: 50%;
}
.text-muted {
  color: var(--font-color-light);
}
.container {
  width: var(--container-width-lg);
}
/*============NAVBAR*/
nav {
  background-color: var(--nav-background);
  width: 100%;
  width: 100vw;
  height: 4rem;

  position: fixed;
  top: 0;
  z-index: 99;
  cursor: pointer;
}
.nav-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-menu {
  margin-left: 2.2rem;
  display: flex;
  align-self: center;
  gap: 2.4rem;
}

.logo-menu .logo h3 {
  color: var(--color-nav);
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.navbar i {
  color: var(--color-nav);
  font-size: 1.4rem;
  opacity: 0.9;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.profile-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.profile-container h5 {
  color: var(--color-nav);
  margin-right: 2rem;
  opacity: 0.9;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.nav-right .toggle-theme {
  background-color: var(--background-color-theme);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4.6rem;
  height: 1.4rem;
  border-radius: var(--card-border-radius-2);
}
.nav-right .toggle-theme i {
  font-size: 1rem;
  font-weight: 500;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  cursor: pointer;
}
.nav-right .toggle-theme .active {
  background-color: var(--color-orange);
  color: black;
  border-radius: var(--card-border-radius-2);
}

/*=============styling dash board*/
.dashboard {
  position: relative;
  top: 5.4rem;
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 14rem auto 24rem;
  gap: 1.6rem;
}

.insight {
  display: flex;
}
aside {
  display: flex;
  flex-direction: column;
  height: 80vh;

  gap: 1.2rem;
}
aside a {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: 1.9rem;
  transition: all 400ms ease;
}
aside a i {
  font-size: 1.2rem;
}
aside a:hover {
  color: var(--font-color);
}
.asideAll p {
  margin-bottom: 1.2rem;
  color: var(--font-color-light);
  font-weight: 800;
}
.text-umuted {
  color: var(--font-color);
}
.aside3 a:last-child {
  position: absolute;
  bottom: 4rem;
}
.message {
  padding: 0.2rem 0.5rem;
  background-color: var(--color-orange);
  border-radius: var(--card-border-radius-3);
  color: var(--font-color);
}

/*=======stying main*/
.date {
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}
main .date input[type="date"] {
  background: transparent;
  color: var(--font-color-light);
  border: 1px solid var(--color-orange);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
main .insight {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.4rem;
}
main .insight > div {
  padding: var(--card-padding);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--font-color);
  transition: all 400ms ease;
}
main .insight > div:hover {
  box-shadow: none;
  transform: scale(1.01);
}
main .insight h1 {
  color: var(--font-color);
  margin-top: 0.8rem;
}
main .insight > div i {
  color: var(--font-color-light);

  font-size: 1.6rem;
}
main .insight > div h3 {
  color: var(--color-nav);
  opacity: 0.6;
  box-sizing: 0.1rem 0.1rem 0.2rem var(--color-orange);
}
main .insight .progress {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  position: relative;
}
main .insight > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}
main .insight svg {
  width: 7rem;
  height: 7rem;
}
main .insight svg circle {
  fill: none;
  stroke-width: 13;
  stroke: var(--color-orange);
  stroke-linecap: round;
  stroke-dasharray: 110;
  stroke-dashoffset: 83;
  transform: translate(5px, 5px);
}

main .insight .sales svg circle {
  stroke-dashoffset: -16;
  stroke-dasharray: 190;
}
main .insight .income svg circle {
  stroke-dashoffset: -50;
  stroke-dasharray: 200;
}
main .insight .expenses svg circle {
  stroke-dashoffset: 50;
  stroke-dasharray: 200;
}
main .insight .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .insight .progress .number p {
  color: var(--font-color);
  font-size: 0.8rem;
  font-weight: 400;
}
.insight small {
  margin-top: 1.2rem;
  display: block;
}

/*RECENT ORDER==========*/
main .recent-order {
  margin-top: 3rem;
}
main .recent-order h2 {
  color: var(--color-nav);
  opacity: 0.6;
  box-sizing: 0.1rem 0.1rem 0.2rem var(--color-orange);
  margin-bottom: 0.6em;
}
main .recent-order table {
  width: 100%;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius-1);
  border: 1px solid transparent;
  text-align: center;
  transition: all 400ms ease;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
main .recent-order table:hover {
  box-shadow: none;
  border: 1px solid var(--font-color-light);
}
main .recent-order table tbody td {
  height: 2.4rem;
  border-bottom: 1px solid var(--font-color);
  color: var(--font-color-light);
}
main .recent-order table thead th {
  color: var(--font-color);
  opacity: 0.7;
}
main .recent-order table tbody tr:last-child td {
  border-bottom: none;
}
.warning {
  color: var(--warning-color) !important;
}
.sucess {
  color: var(--sucess-color) !important;
}
.fail {
  color: var(--danger-color) !important;
}
main .recent-order a {
  text-align: center;
  margin: 1rem auto;
  display: block;
  font-size: 0.9rem;
  color: var(--font-color);
  transition: all 300ms ease;
}
main .recent-order a:hover {
  text-decoration: underline;
}
main .recent-order table tbody tr .details:hover {
  color: var(--font-color);
}

/*RIGHT SECTION*/
.right .recent-update {
  margin-top: 1rem;
}
.right .recent-update h2 {
  margin-bottom: 1.2rem;
  color: var(--color-nav);
  opacity: 0.6;
  box-sizing: 0.1rem 0.1rem 0.2rem var(--color-orange);
}

.recent-update .updates {
  padding: var(--padding);
  border: aps solid transparent;
  box-shadow: var(--box-shadow);
  transition: all 400ms ease;
}
.recent-update .updates:hover {
  transform: scale(1.01);
}
.recent-update .update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}
.recent-update .updates .info p {
  color: var(--font-color);
}

/* =======sales analyict*/
.sucess {
  color: var(--sucess-color);
}
.danger {
  color: var(--danger-color);
}
.sales-analytic {
  margin-top: 2rem;
}
.sales-analytic h2 {
  margin-bottom: 0.7rem;
}
.sales-analytic .item {
  display: flex;
  gap: 1rem;
  border-radius: var(--card-border-radius-2);
  box-shadow: var(--box-shadow);
  margin-bottom: 0.9rem;
  padding: 1rem var(--card-padding);
  transition: all 400ms ease;
  cursor: pointer;
}
.sales-analytic .item:hover {
  box-shadow: none;
  transform: scale(1.03);
}
.sales-analytic .item .right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  align-items: start;
}
.sales-analytic .item .icon-left {
  width: 2.5rem;
  height: 2.5rem;

  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sales-analytic .item .icon-left i {
  font-size: 1.2rem;
}
.sales-analytic .item.offline .icon-left {
  background-color: var(--warning-color);
}
.sales-analytic .item.online .icon-left {
  background-color: var(--font-color-light);
}
.sales-analytic .item.online .icon-left {
  background-color: var(--font-color-light);
}
.sales-analytic .item.new-customer .icon-left {
  background-color: var(--sucess-color);
}
.sales-analytic .item.add-customer {
  border: 1px dashed var(--font-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-light);
}
.sales-analytic .item h3 {
  color: var(--font-color);
  opacity: 0.7;
}

/*=============MEDI QUERY========*/

/*media query=for table*/

@media screen and (max-width: 1200px) {
  .dashboard {
    width: 93%;
    grid-template-columns: 8rem auto 22rem;
    gap: 1.4rem;
  }
  aside .asideAll h4 {
    display: none;
  }
  aside a {
    gap: 1.6rem;
    height: 2.3rem;
    width: 5.4rem;
  }
  .aside3 a:last-child {
    position: relative;
    margin-top: 6rem;
  }
  main .insight {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .recent-order {
    width: 93%;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 5rem;
  }
  .recent-order table {
    width: 80vw;
  }
  .recent-order table thead tr th:first-child,
  .recent-order table thead tr th:last-child {
    display: none;
  }
  .recent-order table tbody tr td:first-child,
  .recent-order table tbody tr td:last-child {
    display: none;
  }
}
/*media query=for small tablet and phones*/
@media screen and (max-width: 789px) {
  .dashboard {
    width: 98%;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    left: -100%;
    background-color: var(--nav-background);
    opacity: 0.9;

    z-index: 3;
    width: 16rem;
    padding: var(--card-padding);
    height: 100vh;
    box-shadow: var(--box-shadow);
    scroll-behavior: smooth;
    overflow-y: auto;
    display: none;
    animation: showSideMenu 500ms ease forwards;
  }

  @keyframes showSideMenu {
    to {
      left: 0;
    }
  }

  aside .asideAll h4 {
    display: flex;
    font-size: 0.8rem;
  }
  aside .asideAll a {
    width: 100%;
  }
  aside a i {
    font-size: 1rem;
  }
  main {
    padding: 0 1rem;
  }
  main .recent-order {
    position: relative;
    left: 37%;

    margin-top: 3rem auto;
    width: 100%;
  }
  main .recent-order table {
    width: 100%;
  }
  .right {
    width: 94%;
    margin: 0 auto 4.2rem;
  }
  .logo-menu .logo h3 {
    font-size: 0.8rem;
  }

  .navbar i {
    font-size: 1.2rem;
  }
  .show {
    display: block;
  }
}
/*media query=for nav bar*/
@media screen and (max-width: 900px) {
  .profile-container .profile-info {
    display: none;
  }
  .profile-container .profile {
    margin-right: 2.8rem;
  }
}
@media screen and (max-width: 470px) {
  .nav-right i {
    display: none;
  }
}
